.banner {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.banner h1 {
  color: rgb(255, 250, 175);
  font-size: 50px;
}

.banner p {
  color: rgb(255, 250, 175);
  font-size: 30px;
}

.banner .container {
  width: 900px;
  margin: 0 auto;
}
